
html, body {
  background-color: #EEE;
}

body {
  font-family: sans serif;
  padding: 30px 50px;

}

#flash {
  color: red;
  font-weight: bold;
  display: none;
}

a:link, a:visited, a:active {
  color: black;
}

a:hover {
  color: gray;
}
